DB_HOST=localhost
DB_PORT=5432
DB_NAME=cv
DB_USER=your_db_user
DB_PASSWORD=your_db_password
HF_TOKEN=your_huggingface_token
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password
ADMIN_CREDENTIALS=admin_one:password_one,admin_two:password_two
